/* Write your global styles here, in SCSS syntax */
:root {
  --default-font-size: 1.6rem;

  --font-weight-light: 200;
  --font-weight-regular: 400;
  --font-weight-bold: 600;

  --color-primary: #5D2387;
  --color-primary-light: #6E2387;
  --color-primary-dark: #4C2387;

  --color-white: #fff;
  --color-black: #000;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;
    padding: 3rem 5rem;
}